.page-container {
  height: 100vh;
  width: 100vw;
}

footer {
  align-items: center;
  background-color: white;
  border-top: solid var(--fourth-color) 5px;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 5vh;
  justify-content: center;
  position: fixed;
  width: 100%;
}

footer p {
  margin: 0;
  text-align: center;
}
